
<section id="main">  
<div class="row">
	<div class="col-md-3">
		<h2 align="center">List of Clients</h2>
		<ul class="nav nav-stacked client-list">
			{{#each model as |client| }}
				<li>
					{{#link-to "clients.client" client.id}}<label>{{ client.companyName}}</label>{{/link-to}}
				</li>
			{{/each}}
			<li>{{#link-to "clients.createclient"}}Create Client{{/link-to}}</li>			
		</ul>
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>
</section>
